#define WIFI_SSID "wifi_ssid"
#define WIFI_PASS "wifi_pass"
#define MQTT_HOSTNAME "mqtt_hostname"
#define MQTT_CLIENT_ID "client_id"
#define MQTT_USERNAME "mqtt_username"
#define MQTT_PASSWORD "mqtt_pass"